name: ci-php-workflow

on: [push]
jobs: 
  check-aplication:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
      - run: |
          cd api/src
          composer install